@charset "UTF-8";

/*グローバル*/
h1, h2, h3 {
    margin: 0;
}

html {
    overflow-y: scroll;
}

/*ボディ*/
body {
    margin: 0;
    background-color: #f9f1d8;
}

/*メインタイトル*/
.main_title {
    display: flex;
    height: 20dvh;
    width: 100%;
    color: red;
    font-size: 70px;
    text-align: center;
    background-image: url("pictures/RTX3080Ti.JPG");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

/*インデックス*/
.index {
    display: flex;
}

.button {
    display: flex;
    font-size: 30px;
    text-align: center;
    background-color: rgb(0, 110, 255);
    border-top: 2px solid rgb(8, 0, 126);
    border-bottom: 2px solid rgb(8, 0, 126);
    height: 10dvh;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button_txt {
    color: white;
    transition: 0.2s;
}

.button:hover .button_txt {
    opacity: 1;              /* 透明度 */
    transform: scale(1.03);    /* 拡大 */
    transform: translateY(-3px);
}

#button1 {
    border-right: 1px solid rgb(8, 0, 126);
    border-left: 2px solid rgb(8, 0, 126);
}

#button2 {
    border-right: 1px solid rgb(8, 0, 126);
    border-left: 1px solid rgb(8, 0, 126);
}

#button3 {
    border-right: 2px solid rgb(8, 0, 126);
    border-left: 1px solid rgb(8, 0, 126);
}

/*大見出し1*/
/**共通項**/
.member {
    color: lightblue;
    display: block;
}

.one_member {
    margin: 0;
    padding: 0;
    height: 26%;
    text-align: left;
    color: lightblue;
    font-size: 20px;
}

.one_member_image {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 40px auto;
}

.member ul {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    text-align: center;
    list-style: none;
    align-items: stretch;
}

/**タイトル1**/
.sub_title {
    color: orange;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*各コンテナ設定*/
.member_card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: 8px double #dda170;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    flex-direction: column;
    width: 45%;
    align-items: center;
}

#tiharu {
    margin-left: 50px;
}

#takano {
    margin-right: 50px;
}

.name_tiharu, .name_takano {
    color: pink;
    font-size: 30px;
    text-align: center;
}